<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Budget</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
    <div th:insert="core/fragments/header :: header"></div>
    <form action="#" th:action="@{/finance/accounting/save}" method="POST" th:object="${accounting}">
        <div class="title">
            Accounting
        </div>
        <div class="input">
            <label>
                Id:
            </label>
            <input type="text" th:field="*{Id}"/>
        </div>
        <div class="input">
            <label>
                Date:
            </label>
            <input type="date" th:field="*{date}"/>
        </div>
        <div class="input">
            <label>
                User:
            </label>
            <select th:field="*{user.Id}">
                <option th:value="${user.Id}" th:text="${user.username}" th:each="user: ${users}"/>
            </select>
        </div>
        <div class="input">
            <label>
                Accounting Type:
            </label>
            <select th:field="*{accountingType.Id}">
                <option th:value="${type.Id}" th:text="${type.name}" th:each="type: ${accountingTypes}"/>
            </select>
        </div>
        <div class="input">
            <label>
                Period:
            </label>
            <select th:field="*{period.Id}">
                <option th:value="${period.Id}" th:text="${period.getMonthSymbol()} + '/' + ${period.year}" th:each="period: ${periods}"/>
            </select>
        </div>
        <div class="button-organizer">
            <button>
                Edit
            </button>
        </div>
    </form>
</body>
</html>