<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="header" th:fragment="header">
    <div class="logo">
        Data Register
    </div>
    <nav class="nav">
        <div class="item">
            <a th:href="@{/admin/user/}">Admin</a>
        </div>
        <div class="item dropdown">
            <a href="#">Branch Manager</a>
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <a th:href="@{/repo/}">Repositories</a>
                </div>
                <div class="dropdown-item">
                    <a th:href="@{/branch/}">Branches</a>
                </div>
            </div>
        </div>
        <div class="logoff">
            <form th:action="@{/logout}" method="POST">
                <input type="submit" value="Log off"/>
            </form>
        </div>
    </nav>
</div>
</body>
</html>