<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
    <div th:insert="admin/fragments/header :: header"></div>
    <form action="#" th:action="@{/admin/user/save}" method="POST" th:object="${user}">
        <div class="title">
            User
        </div>
        <div class="input">
            <label>
                Id:
            </label>
            <input type="text" th:field="*{Id}"/>
        </div>
        <div class="input">
            <label>
                Username:
            </label>
            <input type="text" th:field="*{Username}"/>
        </div>
        <div class="input">
            <label>
                Password:
            </label>
            <input type="password" th:field="*{Password}"/>
        </div>
        <div class="button-organizer">
            <button>
                Edit
            </button>
        </div>
    </form>
</body>
</html>