<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
    <div th:insert="admin/fragments/header :: header"></div>
    <div th:if= "${message != '' && message != 'null' && messageType != 'null' && messageType != '' && message != null && messageType != 'null'}" th:class="'message-' + ${messageType}">
        <span th:text="${messageType} + ': ' + ${message}"/>
    </div>
    <div class="horizontal-align">
        <table>
            <thead>
            <th>Id</th>
            <th>Username</th>
            <th>Passwd</th>
            <th>Search</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <th:block th:each="user: ${users}">
                <tr>
                    <td th:text="${user.Id}"/>
                    <td th:text="${user.username}"/>
                    <td>****</td>
                    <td><a th:href="@{/admin/user/{id}(id=${user.Id})}">Search</a></td>
                    <td>
                        <a th:if = "${sessionUser.getId() != user.getId()}" th:href="@{/admin/user/delete/{id}(id=${user.Id})}" onclick="deleteField">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="horizontal-align">
        <div class="button-organizer">
            <button>
                <a th:href="@{/admin/user/create}">Create user</a>
            </button>
        </div>
    </div>
    <script th:src="@{/js/user/index.js}" rel="script"/>
</body>
</html>