<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Repository</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="core/fragments/header :: header"></div>
<div th:if= "${message != '' && message != 'null' && messageType != 'null' && messageType != '' && message != null && messageType != 'null'}" th:class="'message-' + ${messageType}">
    <span th:text="${messageType} + ': ' + ${message}"/>
</div>
<form action="#" th:action="@{/repo/save}" method="POST" th:object="${repo}">
    <div class="title">
        Project Repository
    </div>
    <div class="input">
        <label>
            Id:
        </label>
        <input type="text" th:field="*{Id}"/>
    </div>
    <div class="input">
        <label>
            Name:
        </label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div class="input">
        <label>
            Description:
        </label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div class="button-organizer">
        <button>
            Create
        </button>
    </div>
</form>
</body>
</html>