<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="horizontal-align">
    <div class="data-organizer">
        <div class="title">
            User
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Id"/>
            </div>
            <div class="value">
                <span th:text="${user.Id}"/>
            </div>
        </div>
        <div class="field">
            <div class="name">
                <span th:text="username"/>
            </div>
            <div class="value">
                <span th:text="${user.username}"/>
            </div>
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Password"/>
            </div>
            <div class="value">
                <span th:text="'*********'"/>
            </div>
        </div>
    </div>
</div>
<div class="button-organizer">
    <button>
        <a th:href="@{/user/edit/{id}(id=${user.Id})}">Edit</a>
    </button>
</div>
</body>
</html>