<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
</head>
<body>
    <div th:insert="fragments/header :: header"></div>
    <div class="horizontal-align">
        <div class="data-organizer">
            <div class="title">
                Error
            </div>
            <div class="field">
                <div class="name">
                    <span th:text="'Status code'"/>
                </div>
                <div class="value">
                    <span th:text="${error.statusCode}"/>
                </div>
            </div>
            <div class="field">
                <div class="name">
                    <span th:text="'Message'"/>
                </div>
                <div class="value">
                    <span th:text="${error.message}"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>