<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create log</title>
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="admin/fragments/header :: header"></div>
<div th:if= "${message != '' && message != 'null' && messageType != 'null' && messageType != '' && message != null && messageType != 'null'}" th:class="'message-' + ${messageType}">
    <span th:text="${messageType} + ': ' + ${message}"/>
</div>
<form action="#" th:action="@{/admin/log/save}" method="POST" th:object="${logDto}">
    <div class="title">
        Log
    </div>
    <div class="input">
        <label>
            Id:
        </label>
        <input type="text" th:field="*{Id}"/>
    </div>
    <div class="input">
        <label>
            User Id:
        </label>
        <input type="text" th:field="*{user_id}"/>
    </div>
    <div class="input">
        <label>
            Description:
        </label>
        <input type="text" th:field="*{description}"/>
    </div>
    <div class="input">
        <label>
            Date:
        </label>
        <input type="date" th:field="*{date}"/>
    </div>
    <div class="button-organizer">
        <button>
            Create
        </button>
    </div>
</form>
</body>
</html>