<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="admin/fragments/header :: header"></div>
<div th:if= "${message != '' && message != 'null' && messageType != 'null' && messageType != '' && message != null && messageType != 'null'}" th:class="'message-' + ${messageType}">
    <span th:text="${messageType} + ': ' + ${message}"/>
</div>
<div class="horizontal-align">
    <table>
        <thead>
        <th>Id</th>
        <th>Description</th>
        <th>User</th>
        <th>Date</th>
        <th>Search</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <th:block th:each="log: ${logs}">
            <tr>
                <td th:text="${log.Id}"/>
                <td th:text="${log.description}"/>
                <td th:text="${log.user.username}"/>
                <td th:text="${log.date}"/>
                <td><a th:href="@{/admin/log/{id}(id=${log.Id})}">Search</a></td>
                <td><a th:href="@{/admin/log/delete/{id}(id=${log.Id})}" onclick="deleteField">Delete</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div class="horizontal-align">
    <div class="button-organizer">
        <button>
            <a th:href="@{/admin/log/create}">Create log</a>
        </button>
    </div>
</div>
</body>
</html>