<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="core/fragments/header :: header"></div>
<div class="horizontal-align">
    <div class="data-organizer">
        <div class="title">
            Accounting Detail
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Name"/>
            </div>
            <div class="value">
                <span th:text="${accountingDetail.name}"/>
            </div>
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Value"/>
            </div>
            <div class="value">
                <span th:text="${accountingDetail.value}"/>
            </div>
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Accounting"/>
            </div>
            <div class="value">
                <span th:text="${accountingDetail.accounting.Id} + ' - ' + ${accountingDetail.accounting.description}"/>
            </div>
        </div>
    </div>
</div>
<div class="button-organizer">
    <button>
        <a th:href="@{/finance/accounting/detail/edit/{id}(id=${accountingDetail.Id})}">Edit</a>
    </button>
</div>
</body>
</html>