<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
    <link th:href=@{/css/admin/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="core/fragments/header :: header"></div>
<div class="horizontal-align">
    <div class="data-organizer">
        <div class="title">
            Accounting
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Month"/>
            </div>
            <div class="value">
                <span th:text="${period.month}"/>
            </div>
        </div>
        <div class="field">
            <div class="name">
                <span th:text="Year"/>
            </div>
            <div class="value">
                <span th:text="${period.year}"/>
            </div>
        </div>
    </div>
</div>
<div class="button-organizer">
    <button>
        <a th:href="@{/finance/period/edit/{id}(id=${period.Id})}">Edit</a>
    </button>
</div>
</body>
</html>