<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href=@{/css/common.css} type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="horizontal-align">
    <div class="data-organizer">
        <div class="title">
            <span th:if="${user != null}" th:text="'Welcome, ' + ${user.username}"/>!
        </div>
        <div class="field">
            <div class="value">
                This webapp is Data Register, a multipurpose platform created by
                <a href="https://github.com/gabriels6">Gabriel Gomes</a>,
                with Spring Web MVC, to fulfill his needs.
            </div>
        </div>
    </div>
</div>
</body>
</html>